---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting.jsx";
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <h2 transition:animate="slide">My awesome blog subtitle</h2>
  <Greeting
    client:load
    messages={[
      "Hej",
      "Hallo",
      "Hola",
      "Habari",
      "Hi",
      "Howdy",
      "Hello",
      "Howzit",
      "Hey",
      "Good Day",
      "Nice to see you",
      "Whoa",
      "Welcome",
      "Nice to have you",
      "Encantado", 
      "Bonjour", 
      "Aybowan", 
      "Sawasdi Ka", 
      "Bwanji"
    ]}
  />
  <p>I am creating a cool blog website.</p>
</BaseLayout>
