---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting.jsx";
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>
  <Greeting
    client:visible
    messages={[
      "Hej",
      "Hallo",
      "Hola",
      "Habari",
      "Howdy",
      "Hello",
      "Howzit",
      "Hey",
      "Good Day",
      "Nice to see you",
      "Whoa",
      "Welcome",
      "Nice to have you",
      "Encantado",
      "Bonjour",
      "Aybowan",
      "Sawasdi Ka",
      "Bwanji",
    ]}
  />
  <p>I am creating a cool blog website.</p>
</BaseLayout>
