---
interface Props {
  url: string;
  title: String;
  summary: String;
  path: URL;
}
const { url, title, summary, path } = Astro.props;
---

<a class="flexOnly" href={path}>
  <div class="blogCard">
    {url && <img id="thumbnail" src={url} width="300" alt="" />}
    <div class="previewText">
      <h2>{title}</h2>
      <p>{summary}</p>
    </div>
  </div>
</a>
